.translation-table {
    td, input {
        // border-bottom: 1px solid #00000025;
    }
    tbody {
        font-size: 12px;
    }
    th {
        width: 38%;
    }
    .first_header {
        width: 24%;
    }
}